<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
	">
	<!-- 任务实体 -->
	<bean id="pmisJobDetail" class="cn.com.winning.ssgj.ws.job.ImportPmisDataJob" />
	<bean id="accessTokenDetail" class="cn.com.winning.ssgj.ws.job.AccessTokenDataJob" />

	<!-- 定时更新政策任务方法 -->
	<!--不继承spring提供的QuartzJobBean-->
	<bean id="pmisJobDetailMethod"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="pmisJobDetail" />
		<!-- targetMethod 配置定时执行的方法名 -->
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="accessTokenDetailMethod"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="accessTokenDetail" />
		<!-- targetMethod 配置定时执行的方法名 -->
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>

	<!-- 定时更新政策触发器 -->
	<bean id="pmisJobTaskTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="pmisJobDetailMethod" />
		<!--  每天4点执行一次 -->
		<property name="cronExpression" value="0 0 4 * * ?" />
		<!--每小时40分钟跑一次-->
		<!--<property name="cronExpression" value="0 40 * * * ?" />-->
	</bean>

	<bean id="accessTokenTaskTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="accessTokenDetailMethod" />
		<!--  每天4点执行一次 -->
		<property name="cronExpression" value="0 0 1 * * ?" />
		<!--每小时40分钟跑一次-->
		<!--<property name="cronExpression" value="0 40 * * * ?" />-->
	</bean>

	<!-- 订制任务列表 -->
	<bean id="scheduler"
		  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
                <ref bean="pmisJobTaskTrigger" />
                <ref bean="accessTokenTaskTrigger" />

            </list>
		</property>
	</bean>
</beans>
