<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 主键生成器记录表 -->
    <bean id="sequenceTable" class="cn.com.winning.ssgj.base.id.SequenceTable" init-method="init">
        <property name="tableName" value="ssgj_seqno"/><!--表名  -->
        <property name="idColume" value="seqno"/><!-- id列  -->
        <property name="typeColume" value="tabletype"/><!--主键类型  -->
        <property name="dataSource" ref="dataSource"/><!-- 数据源 -->
    </bean>

    <!--   说明：
            1、如果需要适用字符串格式作为主键，则需要制定format
            2、如果使用数字作为主键，则不需要指定format
            3、dateCutOff 为主键类型按照天切换的时候使用
    <bean id="userCodeService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
          <property name="table" ref="sequenceTable" />
          <property name="type" value="USER_ID" />
          <property name="step" value="1" />
          <property name="format" value="{########}" />
          <property name="dateCutOff" value="false" />
      </bean>     -->
    <!--用户ID 主键生成器
     起步数据为 100 0000
    -->
    <bean id="userIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="USER_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>
    <!--角色ID 主键生成器
    起步数据为 200 0000
    -->
    <bean id="roleIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="ROLE_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>
    <!--角色代码生成器-->
    <bean id="roleCodeService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="ROLE_CODE"/>
        <property name="step" value="1"/>
        <property name="format" value="ROLE{######}"/>
        <property name="dateCutOff" value="false"/>
    </bean>
    <!--功能ID 主键生成器
    起步数据为 300 0000
    -->
    <bean id="funcIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="FUNC_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>

    <!--功能代码 生成器 -->
    <bean id="funcCodeService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="FUNC_CODE"/>
        <property name="step" value="1"/>
        <property name="format" value="FUNC{######}"/>
        <property name="dateCutOff" value="false"/>
    </bean>
    <!--菜单主键生成器-->
    <bean id="meunIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="MENU_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>

    <!---菜单代码 生成器 -->
    <bean id="menuCodeService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="MENU_CODE"/>
        <property name="step" value="1"/>
        <property name="format" value="MENU{######}"/>
        <property name="dateCutOff" value="false"/>
    </bean>
    <!--业务单据编码
     日期+五位顺序号
    -->
    <bean id="serialCodeService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="SERIAL_NO"/>
        <property name="step" value="1"/>
        <property name="format" value="{YYYYMMDD}{#####}" />
        <property name="dateCutOff" value="true"/>
    </bean>
    <!--业务单据ID
      ID 起始值为900 0000
    -->
    <bean id="serialIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="SERIAL_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>

    <bean id="logIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="LOG_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>
    
     <!--产品ID 主键生成器
     起步数据为 100 0000
    -->
    <bean id="productIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="PRODUCT_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>

    <!--
    业务流程序号
    WN-YWLC-
    -->
    <bean id="flowCodeService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="FLOW_CODE"/>
        <property name="step" value="1"/>
        <property name="format" value="WN-YWLC-{####}" />
        <property name="dateCutOff" value="true"/>
    </bean>
    <!--
    业务流程ID
    WN-YWLC-
    -->
    <bean id="flowIdService" class="cn.com.winning.ssgj.base.id.StepSequenceFactory">
        <property name="table" ref="sequenceTable"/>
        <property name="type" value="FLOW_ID"/>
        <property name="step" value="1"/>
        <property name="dateCutOff" value="false"/>
    </bean>
</beans>
